
<div class="row">
    <div class="col-md-12 col-lg-12 starter-template">
        <h1 style="margin-top:100px">Web of Things Test Page</h1>
        <p>A page for developing a basic Web of Things JavaScript library.</p>
    </div>
</div>
