
<div class="row" id="things-container">
    <div class="col-md-12 col-lg-12" style="padding:20px 0; text-align:center">
        <h1>My Things</h1>
    </div>
    <div class="col-md-12 col-lg-12">
        <div data-bind="template: { name: 'things-template', foreach: things }">
        </div>
    </div>
</div>

<script type="text/html" id="things-template">
    <div class="things_list_item">
        <div class="thing_name">
            <div class="pull-left" style="width:120px">Thing name: </div>
            <div class="pull-left"><span data-bind="text: name"></span></div>
            <div style="clear:both"></div>
        </div>
        <div class="thing_properties">
            <h5>
                Properties
            </h5>
            <div data-bind="template: { name: 'property-template', foreach: properties }">
                    
            </div>
        </div>
        <div class="thing_actions">
            <h5>
                Actions
            </h5>
            <div data-bind="template: { name: 'action-template', foreach: actions }">

            </div>
        </div>
    </div>       
</script>


<script type="text/html" id="property-template">
    <div data-bind="template: template_name" class="thing_property_item">
    </div>
</script>

<script type="text/html" id="action-template">
    <div data-bind="template: template_name" class="thing_action_item">
    </div>
</script>

<script type="text/html" id="unlock-action-template">
    <div>
        <button data-bind="click: handler">Unlock</button>
    </div>        
</script>

<script type="text/html" id="lock-action-template">
    <div>
        <button data-bind="click: handler">Lock</button>
    </div>       
</script>


<script type="text/html" id="is_open-property-template">
    <div style="color:#aaa;font-size:12px">
        <i>(This demonstrates using a template to print detailed information for a read-only property)</i>
    </div>
    <div>
        <div>
            <div class="pull-left" style="width:100px">Property: </div>
            <div class="pull-left"><span data-bind="text: property"></span></div>
            <div style="clear:both"></div>
        </div>
        <div>
            <div class="pull-left" style="width:100px">Type: </div>
            <div class="pull-left"><span data-bind="text: type"></span></div>
            <div style="clear:both"></div>
        </div>
        <div>
            <div class="pull-left" style="width:100px">IsWritable: </div>
            <div class="pull-left"><span data-bind="text: iswriteable"></span></div>
            <div style="clear:both"></div>
        </div>
        <div>
            <div class="pull-left" style="width:100px">Value: </div>
            <div class="pull-left"><span data-bind="text: data"></span></div>
            <div style="clear:both"></div>
        </div>
    </div>
</script>

<script type="text/html" id="battery_value-property-template">
    <div>
        Battery:  <span data-bind="text: data"></span> Volt
    </div>
</script>

<script type="text/html" id="is_camera_on-property-template">
    <div>
        <div>
            <div class="pull-left" style="margin-right:10px">Turn the camera ON </div>
            <div class="pull-left" style="padding-top:0"><input type="checkbox" data-bind="checked: data" /></div>
            <div style="clear:both"></div>
        </div>
    </div>
</script>


<script type="text/html" id="on-property-template">
    <div style="color:#aaa;font-size:12px">
        <i>(This demonstrates using a template to print detailed information for a read-only property)</i>
    </div>
    <div>
        <div>
            <div class="pull-left" style="width:100px">Property: </div>
            <div class="pull-left"><span data-bind="text: property"></span></div>
            <div style="clear:both"></div>
        </div>
        <div>
            <div class="pull-left" style="width:100px">Type: </div>
            <div class="pull-left"><span data-bind="text: type"></span></div>
            <div style="clear:both"></div>
        </div>
        <div>
            <div class="pull-left" style="width:100px">IsWritable: </div>
            <div class="pull-left"><span data-bind="text: iswriteable"></span></div>
            <div style="clear:both"></div>
        </div>
        <div>
            <div class="pull-left" style="width:100px">Value: </div>
            <div class="pull-left"><span data-bind="text: data"></span></div>
            <div style="clear:both"></div>
        </div>
    </div>
</script>



<script type="text/html" id="power_consumption-property-template">
    <div>
        Power consumption:  <span data-bind="text: data"></span> watts
    </div>
</script>


{{#section 'script'}}

<script type="text/javascript" src="js/wot/viewmodels/thing.js"></script>
<script type="text/javascript" src="js/wot/viewmodels/things.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        //debugger;
        console.log('start populating things');

        var element = document.getElementById('things-container');
        var viewModel = new WoT.ViewModels.ThingsHandlerViewModel();
        viewModel.init(function () {
            ko.applyBindings(viewModel, element);
        });

    });
</script>

{{/section}}