
<div id="things-container" style="padding-top:70px;">
    <div data-bind="template: { name: 'things-template', foreach: things }">
    </div>
</div>

<script type="text/html" id="things-template">
    <div class="things_list_item">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="thing_name">
                    <span data-bind="text: name"></span>
                </div>
            </div>
            <div class="col-md-12 col-lg-12">
                <div class="col-md-4 col-lg-4 thing_properties">
                    <h5>
                        Properties
                    </h5>
                    <div data-bind="template: { name: 'property-template', foreach: properties }" class="thing_properties_items">
                    </div>
                </div>

                <!-- ko if: actions().length > 0 -->
                <div class="col-md-4 col-lg-4 thing_actions">
                    <h5>
                        Actions
                    </h5>
                    <div data-bind="template: { name: 'action-template', foreach: actions }">
                    </div>
                </div>
                <!-- /ko -->
                <!-- ko if: events().length > 0 -->
                <div class="col-md-4 col-lg-4 thing_actions">
                    <h5>
                        Events
                    </h5>
                    <div data-bind="template: { name: 'event-template', foreach: events }">
                    </div>
                </div>
                <!-- /ko -->
            </div>
        </div>        
    </div>       
</script>


<script type="text/html" id="property-template">
    <div data-bind="template: template_name" class="thing_property_item">
    </div>
</script>

<script type="text/html" id="action-template">
    <div data-bind="template: template_name" class="thing_action_item">
    </div>
</script>


<script type="text/html" id="event-template">
    <div data-bind="template: template_name" class="thing_action_item">
    </div>
</script>

<script type="text/html" id="unlock-action-template">
    <div>
        <button data-bind="click: handler">Unlock</button>
    </div>        
</script>

<script type="text/html" id="lock-action-template">
    <div>
        <button data-bind="click: handler">Lock</button>
    </div>       
</script>


<script type="text/html" id="is_open-property-template">
    <!-- ko if: data() == true -->
    <div>
        Opened&nbsp;&nbsp;&nbsp;<i class="fa fa-check-circle"></i>
    </div>
    <!-- /ko -->
    <!-- ko if: data() == false -->
    <div>
        Closed&nbsp;&nbsp;&nbsp;<i class="fa fa-lock"></i>
    </div>
    <!-- /ko -->
</script>

<script type="text/html" id="battery_value-property-template">
    <div>
        Battery:  <span data-bind="digitsnum: data, digits:3"></span> Volt
    </div>
</script>

<script type="text/html" id="is_camera_on-property-template">
    <div>
        <div>
            <div class="pull-left" style="margin-right:10px">Turn the camera ON </div>
            <div class="pull-left" style="padding-top:0"><input type="checkbox" data-bind="checked: data" /></div>
            <div style="clear:both"></div>
        </div>
    </div>
</script>

<script type="text/html" id="on-property-template">
    <div>
        <div>
            <div class="pull-left" style="margin-right:10px">Device is ON </div>
            <div class="pull-left" style="padding-top:0"><input type="checkbox" data-bind="checked: data" /></div>
            <div style="clear:both"></div>
        </div>
    </div>
</script>


<script type="text/html" id="power_consumption-property-template">
    <div>
        Power consumption:  <span data-bind="digitsnum: data, digits:3"></span> watts
    </div>
</script>


<script type="text/html" id="bell-event-template">
    <div style="min-height:80px">
        <div style="font-size:12px;color:#888">
            Door Bell.
        </div>
        <div data-bind="bellring: signalled, interval: 8000" style="display:none">
            <div style="margin:10px 0">
                <a href="#">
                    <i class="fa fa-bell fa-2x faa-ring animated"></i>
                </a>
            </div>
            <div style="font-size:12px;color:#000">
                Timestamp: <span data-bind="text: timestamp"></span>
            </div>
        </div>
    </div>   
</script>


<script type="text/html" id="temperature-property-template">
    <div>
        Temperature around the door:          
    </div>
    <div>
        <span data-bind="digitsnum: data, digits:4"></span> Celsius
    </div>
    <div>

    </div>
</script>



{{#section 'script'}}

<script type="text/javascript" src="js/wot/viewmodels/thing.js"></script>
<script type="text/javascript" src="js/wot/viewmodels/things.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        //debugger;
        console.log('start populating things');

        var element = document.getElementById('things-container');
        var viewModel = new WoT.ViewModels.ThingsHandlerViewModel();
        viewModel.init(function () {
            ko.applyBindings(viewModel, element);
        });

    });
</script>

{{/section}}